<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"><!-- parallel="tests" -->
 <!--   <test thread-count="5" name="Test">-->
 <listeners>
 <listener class-name="Academy.Listener"/>
 </listeners>
 
 <test name="Test">
    <classes>
      <class name="Academy.ValidateText"/>
      </classes>
  </test> 
  <test name="Test2">
    <classes>
      <class name="Academy.HomePage"/>
      </classes>
  </test>
  <test name="Test3">
    <classes>
      <class name="Academy.ValidateNavigateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
